<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>Découvrez La Fine Équipe</h1>
    <p>Nous instaurons une nouvelle façon de travailler, en phase avec son époque, en proposant un espace élégant, fonctionnel et accueillant alliant art de vivre, gastronomie et culture.</p>
    <%= link_to "Rejoins nous !", new_user_registration_path, class: "btn btn-primary"  %>
    <%= link_to "Connaitre sa position en file d'attente", queue_path, class: "btn btn-primary"  %> <br>
  </div>
</div>

<h3 class = 'text-center locaux-title'>Nos locaux </h3>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1488901517307-a8f6582fa081?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80)">
    Salle confort
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1571624436279-b272aff752b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2704&q=80)">
    Salle de réunion
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1533142146849-4620b8191531?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80)">
    Lunch break
  </div>
</div>
