<p>Bonjour</p>

<p>Une demande de changement de mot de passe a été effectuée. Vous pouvez le faire à travers ce lien:</p>

<p><%= link_to 'Changer mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette requête, merci d'ignorer ce message.</p>
<p>Votre mot de passe ne sera pas modifié tant que vous n'aurez pas cliquer sur le lien et créé un nouveau.</p>

<p>La Fine Équipe</p>
